writable/cache/*
!writable/cache/index.html
writable/logs/*
!writable/logs/index.html
writable/session/*
!writable/session/index.html
writable/uploads/*
!writable/uploads/index.html
writable/debugbar/*
!writable/debugbar/index.html
writable/file_manager_root/*
writable/trash/*
writable/*.json
writable/*.php
!writable/index.html
.env
.git
.gitignore
.github
Dockerfile
docker-compose.yml
tests/
phpunit.xml.dist
README.md
LICENSE.md
build.sh
